header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 99;

    a {
        text-decoration: none;
        height: 100%;
    }

    div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            height: 1.5rem;
            object-fit: contain;
        }
    }

    nav {
        padding: 1rem;
        display: flex;
        gap: 1rem;
    }
}