section {
    margin-top: 5rem;
}

h1 {
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 2rem;
    gap: 3rem;
}

.product {
    position: relative;
    background-color: transparent;

    border: none;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all 0.25s;
        border-radius: 1rem;
        aspect-ratio: 1/1;
        font-family: 'Poppins';
    }

    p {
        text-align: center;
    }

    .primary {
        display: block;
    }
    
    .secondary {
        display: none;
    }

    &:hover {
        .primary {
            display: none;
        }

        .secondary {
            display: block;
        }
    }
}